:root {
    // COLORS
    --red-100: hsl(5, 100%, 72%);
    --yellow-100: hsl(50, 100%, 50%);
    --yellow-200: rgb(255, 213, 0, 0.5);

    --cyan-100: hsl(200, 100%, 62%);
    --cyan-200: hsl(167, 44%, 70%);
    --cyan-300: hsl(168, 34%, 41%);
    --cyan-400: hsl(167, 40%, 24%);

    --cyan-design: hsl(165, 47%, 74%);
    --cyan-photo: hsl(198, 100%, 65%);

    --blue-100: hsl(198, 62%, 26%);
    --blue-200: hsl(212, 27%, 19%);

    --grey-100: hsl(210, 4%, 67%);
    --grey-200: hsl(232, 10%, 55%);
    --grey-300: hsl(213, 9%, 39%);

    --white-100: hsl(0, 0%, 100%);
    --white-200: rgb(255, 255, 255, 0.3);

    // TYPOGRAPHY
    --barlow: "Barlow", sans-serif;
    --fraunces: "Fraunces", serif;

    --fw-regular: 500;
    --fw-medium: 600;
    --fw-semibold: 700;
    --fw-bold: 900;

    --transition-base: all 0.5s;
}
